
<ion-header>

<ion-navbar class="navbarStyle" color="primary">
    <ion-title>Log In to Red Book</ion-title>
    <ion-buttons end>
      <button ion-button (click)="help()">
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-buttons>
</ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>User ID</ion-label>
    <ion-input [(ngModel)]="userId"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label stacked>Password</ion-label>
    <ion-input type="password" [(ngModel)]="pwd"></ion-input>
  </ion-item>
  <button ion-button (click)="login()">LOG IN</button><br>
  <div>Log in to your Red Book account.</div><br><br>
  <div></div>
    <button *ngIf="!auth.userValidSubscription" ion-button (click)="subscribe()">SUBSCRIBE</button><br>
    <div *ngIf="!auth.userValidSubscription">Subscribe to use the Red Book content in your care plans.</div>
  <br><br>
    <button ion-button (click)="cancelEdit()">WORK OFFLINE</button>
  <br>
  <div>Work Offline to work on plans on your device only, without saving to the cloud.  If you have a subscription, your changes will be synced to the cloud when you log in again.</div>
</ion-content>
