<ion-header>

  <ion-navbar class="navbarStyle" color="primary">
    <ion-title>Care Plan</ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="!auth.userLoggedIn" (click)="login()">
        <ion-icon name="unlock"></ion-icon>
      </button>
      <button ion-button *ngIf="auth.userLoggedIn" (click)="logout()">
        <ion-icon name="lock"></ion-icon>
      </button>
      <button ion-button (click)="help()">
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="divHeader"><span (click)="editPlan()">{{plan.name}}</span>
    <div style="margin-top: 10px;">
      <button class="tool" *ngIf="auth.userLoggedIn" (click)="conditionAdd()">
        <ion-icon name="fastforward"></ion-icon>
        <ion-icon name="add"></ion-icon>
      </button>
      <button class="tool" *ngIf="auth.userLoggedIn" (click)="disciplineAdd()">
        <ion-icon name="medical"></ion-icon>
        <ion-icon name="add"></ion-icon>
      </button>
      <button class="tool" (click)="mergeIn()">
        <ion-icon name="shuffle"></ion-icon>
        <ion-icon name="add"></ion-icon>
      </button>
      <button class="tool" (click)="problemAdd()">
        <ion-icon name="alert"></ion-icon>
        <ion-icon name="add"></ion-icon>
      </button>
      <button class="tool" (click)="showPrint()">
        <ion-icon name="share"></ion-icon>
      </button>
      <button class="tool" (click)="copyPlan()">
        <ion-icon name="copy"></ion-icon>
      </button>
      <button class="trash">
        <ion-icon name="trash" (click)="deletePlan()"></ion-icon>
      </button>
    </div>
  </div>

  <ion-list class="noScroller">
    <div ion-item no-lines *ngFor="let p of plan.problems; let i = index">
      <p class="problem">
        <ion-icon class="expandTool" [name]="p.icon" (click)="toggleProblemExpand(p)"></ion-icon>
        <span (click)="problemEdit(p)">{{p.text}}</span>
      </p>
      <div>
        <div io-item *ngIf="p.expanded">
          <div>
            <button class="tool" (click)="goalAdd(p)">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="add"></ion-icon>
            </button>
            <button class="tool" (click)="interventionAdd(p)">
              <ion-icon name="construct"></ion-icon>
              <ion-icon name="add"></ion-icon>
            </button>
            <button class="trash" (click)="problemDelete(p)">
              <ion-icon name="trash"></ion-icon>
            </button>
          </div>
          <ion-list [dragula]='"goal-list"' [(dragulaModel)]="p.goals">
            <div ion-item no-lines *ngFor="let g of p.goals">
              <p class="goal">
                <span class="probId" hidden>{{i}}</span>
                <span (click)="goalEdit(g)">{{g.term}} {{g.text}}</span>
                <button class="trash" (click)="goalDelete(p, g)">
                  <ion-icon name="trash"></ion-icon>
                </button>
              </p>
            </div>
          </ion-list>
          <ion-list [dragula]='"int-list"' [(dragulaModel)]="p.interventions">
            <div ion-item no-lines *ngFor="let n of p.interventions">
              <p class="intervention">
                <span class="probId" hidden>{{i}}</span>
                <!-- (panLeft)="intSwipeDelete(p,n)" -->
                <span (click)="interventionEdit(n)">{{n.text}}</span>
                <button class="trash" (click)="interventionDelete(p, n)">
                  <ion-icon name="trash"></ion-icon>
                </button>
              </p>
              <p class="discpline">
                <em>{{discList(n)}}</em>
              </p>
            </div>
          </ion-list>
<!--           <ion-list>
            <div ion-item no-lines *ngFor="let n of p.interventions">
              <p class="intervention">
                <span class="probId" hidden>{{i}}</span>
                <span (press)="intPressed()" (click)="interventionEdit(n)">{{n.text}}</span>
                <button class="trash" (click)="interventionDelete(p, n)">
                  <ion-icon name="trash"></ion-icon>
                </button>
              </p>
              <p class="discpline">
                <em>{{discList(n)}}</em>
              </p>
            </div>
          </ion-list> -->
        </div>
      </div>
    </div>
  </ion-list>

</ion-content>