page-lookup {
    .problems {
        color: red;
    }
    .goals {
        color: green;
    }
    .interventions {
        color: blue;
    }
    .search {
        font-size: 2.0rem;
        margin-left: 0.2rem;
        margin-right: 0.6rem;        
        color: white;
        background-color: red;
    }

    .tool {
        font-size: 2.0rem;
        margin-left: 1.0rem;
        margin-right: 0.6rem;
        color: white;
        background-color: red;
    }

}
