
<ion-header>

  <ion-navbar>
    <ion-title>Care Plan</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h1 class="h1text">Care Plan: {{plan.name}}</h1>
        <div *ngFor="let p of plan.problems">
          <p class="ptext prob">{{p.text}}</p>
          <div>
              <div *ngFor="let g of p.goals">
                <p class="ptext goal"><em>{{g.term}} Outcome:</em>  {{g.text}}</p>
              </div>
              <div *ngFor="let n of p.interventions">
                <p class="ptext int"><em>Int:</em>  {{n.text}}</p>
                <p class="ptext dsc"><em>Disciplines:</em>  {{discList(n)}}</p>
              </div>
          </div>
        </div>

</ion-content>

<ion-footer class="footer">
  <!-- <div *ngIf="plt.is('ios') || plt.is('android')">   // add this back in production-->
    <button (click)="sendEmail()">
      <ion-icon name="send"></ion-icon> Email
    </button>
  <!-- </div> -->
  <button float-right (click)="createPdf(true)">
    <ion-icon name="paper"></ion-icon> Make a PDF
  </button>
</ion-footer>