page-welcome {
#welcome{
    background: color($colors, primary);
    h1{
        color: color($colors, light);
        font-size: 50px;
    }
    .marginTop{
        margin-top:100px;
    }
    .logo{
        height: 150px;
    }
    .button{
        color: color($colors, light);
    }
}
};
