page-subselect {
    h1 {
        color: color($colors, primary);
        word-break: normal;
        white-space: normal;
    }
    div {
        word-break: normal;
        white-space: normal;
    }
    li {
        word-break: normal;
        white-space: normal;
    }
    .hilite {
        font-size: medium;
        color: color($colors, primary);
    }
}
