<ion-header>

  <ion-navbar class="navbarStyle" color="primary">
    <ion-title>Subscribe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item no-lines *ngIf="auth.userLoggedIn">
    <h1>You're already subscribed, logged in, and ready to go.</h1>
  </ion-item>
  <ion-item no-lines *ngIf="!auth.userLoggedIn">
    <h1>Subscribe to use Red Book Care Plan content.</h1>

    <div ion-item no-lines *ngFor="let p of products" class="hilite">
      <div>{{p.title}} {{p.price}}
        <button ion-button (click)="subscribe(p)">Purchase</button>
      </div>
    </div>
  </ion-item>
  <ion-item no-lines>
    <div>
      Subscribing gives you access to content to use in your own care
      planning.</div>
    <ul>
      <li>High Quality</li>
      <li>Evidence-based</li>
      <li>Practice Validated</li>
    </ul>
    <div>
      Includes
    </div>
    <ul>
      <li><em>Complete Model Care Plans</em> for you to adapt</li>
      <li>Care Topics</li>
      <li>Outcomes</li>
      <li>Interventions</li>
      <li>All Disciplines</li>
    </ul>
    <div>
      Content provided with the subscription comes from the
      "Handbook of Home Health Standards, 6th Edition" written by Tina M. Marrelli, the "Red Book."</div>
      <br>
    <div>The content is offered as a monthly subscription service.
      <ul>
        <li>The subscription is called "Hospice Monthly"</li>
        <!-- <li>The purpose of the subscription is to provide access to professional care plan content.</li> -->
        <li>The price for one month of the subscription is $9.99 US.</li>
        <li>When you confirm your purchase, payment will be charged to your iTunes Account.</li>
        <li>The subscription renews automatically month-to-month, unless you cancel it.</li>
        <li>You cancel by turning off auto-renew in your iTunes "Manage Your Subscriptions." (In Settings, iTunes & App
          Store.)</li>
        <li>You'll have to cancel at least 24 hours before the end of the current period.</li>
        <li>Payment for each month's automatic renewal is also charged to your iTunes Account.</li>
        <li>The price of renewal each month is the same as the initial month.</li>
        <li>If at any time a free trial period is offered, any unused portion of the free trial period is forfeited if/when you purchase a subscription.</li>
      </ul>
      <p>You may see the end-user license agreement <span style="color: red" (click)="seeTerms()">here</span> within the application, or <a href="https://marrelli.com/cpeula/apple">here</a> on the web.</p>
      <p>You may see our privacy policy <a href="https://marrelli.com/privacy-policy/">here</a> on the web.</p>
    </div>
  </ion-item>
  <br>
  <ion-item no-lines *ngIf="!auth.userLoggedIn">
    <div>
      After tapping <span class="hilite">Purchase</span> you will confirm your purchase with the Store.
    </div>
  </ion-item>
  <ion-item no-lines *ngIf="!auth.userLoggedIn">
    <div>After a successful purchase, you'll set up your subscriber information with the Red Book.
      Subscriber information will include a unique user ID, a password, and your personal encryption key for securing
      your plans in the cloud.</div>
  </ion-item>
</ion-content>